@font-face {
  font-family: gameboy;
  src: url(../fonts/gameboy.ttf);
}

@font-face {
  font-family: nintendo;
  src: url(../fonts/Nintendo-DS-BIOS.ttf);
}

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

html, body
{
  height: 100%;
  font-family: nintendo, Georgia, 'Times New Roman', Times, serif;
  font-size: 150%;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}