div[class*="main-border"] { width: 100%; }
div[class*="main-border"] { height: 100%; }
div[class*="main-border"] { background-repeat: no-repeat; }
.main-border-deco-top { grid-column: 2/3; }
.main-border-deco-top { grid-row: 1/2; }
.main-border-deco-top { background-image: url('images/border-deco-top.png'); }
.main-border-deco-top { background-position: bottom; }
.main-border-deco-top { display: flex; }
.main-border-deco-top { flex-direction: column; }
.main-border-deco-top { justify-content: flex-end; }
.main-border-deco-top { color: white; }
.main-border-deco-top { opacity: 0.6; }
.main-border-deco-top h1 { transform: rotate(4deg); }
.main-border-deco-top h1 { font-size: 2.5rem; }
.main-border-deco-top h2 { font-size: 1.3rem; }
.main-border-deco-top-corner-right { grid-column: 3/4; }
.main-border-deco-top-corner-right { grid-row: 1/2; }
.main-border-deco-top-corner-right { background-position: bottom left; }
.main-border-deco-top-corner-right { background-image: url('images/border-deco-top-corner-right.png'); }
.main-border-deco-top-corner-left { grid-column: 1/2; }
.main-border-deco-top-corner-left { grid-row: 1/2; }
.main-border-deco-top-corner-left { background-position: bottom right; }
.main-border-deco-top-corner-left { background-image: url('images/border-deco-top-corner-left.png'); }
.main-border-deco-bottom { grid-column: 2/3; }
.main-border-deco-bottom { grid-row: 3/4; }
.main-border-deco-bottom { background-position: top; }
.main-border-deco-bottom { background-image: url('images/border-deco-bottom.png'); }
.main-border-deco-bottom-corner-left { grid-column: 1/2; }
.main-border-deco-bottom-corner-left { grid-row: 3/4; }
.main-border-deco-bottom-corner-left { background-position: top right; }
.main-border-deco-bottom-corner-left { background-image: url('images/border-deco-bottom-corner-left.png'); }
.main-border-deco-bottom-corner-right { grid-column: 3/4; }
.main-border-deco-bottom-corner-right { grid-row: 3/4; }
.main-border-deco-bottom-corner-right { background-image: url('images/border-deco-bottom-corner-right.png'); }
.main-border-deco-left { grid-column: 1/2; }
.main-border-deco-left { grid-row: 2/3; }
.main-border-deco-left { background-position: right; }
.main-border-deco-left { background-image: url('images/border-deco-left.png'); }
.main-border-deco-right { grid-column: 3/4; }
.main-border-deco-right { grid-row: 2/3; }
.main-border-deco-right { background-position: left; }
.main-border-deco-right { background-image: url('images/border-deco-right.png'); }