* { box-sizing: border-box; margin:0; padding:0; }
h2, h3, h4, h5 { margin: 1em 0 0.5em 0; }
p { margin: 0.8em 0; }
h1 { font-size: 2em; padding: 0.5em; color:white; }
h2 { font-size: 1.8em; }
h3 { border-top: 0.1em solid gray; padding-top: 1em; font-size: 1.4em; }
h4 { font-size: 1.2em; }
article li { margin: 0.5em 0 0 2em; }

html, body {
    color:#444444;
    font-size: 0.9em;
    font-family: "Whitney SSm A", "Whitney SSm B", "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
}

.bluebox {
    list-style-type: none;
    padding: 8px;
    margin-bottom: 7px;
    background-color :#33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 0.9em;
}
.bluebox:hover {
    background-color: #0099cc;
}
.bluebox a {
    text-decoration: none;
    color:white;
}

header { background-color: #0099cc; }

code {
    background-color:papayawhip;
    color:black;
    font-size: 1.3em;
}
.code {
    overflow: auto;
    margin: 0.3em 0;
    padding:0.5em;
    border: 0.1em solid gray;
    border-left: 0.3em solid #0099cc;
}

.box {
    margin: 0.3em 0;
    float:left;
    width:100%;
    border: 0.1em solid gray;
}

.value {
    overflow: auto;
    font-weight: bold;
    width:32%;
}

.description {
    width: 68%;
}

.value, .description {
    padding:0.5em;
    float:left;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (orientation: landscape) {
    .container { width:90%; margin:0 auto; }
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .container { width:90%; margin:0 auto; }
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .container { width:90%; margin:0 auto; }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.container:after {
    content: "";
    clear: both;
    display: block;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}